* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100dvh;
  background: white;
}
.service{
width: 100%;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.perfect{
  display: grid;
  gap: 20px;
  width: 220px;
  color: #4B321D;
  font-size: 20px;
}
.perfect button{
 border-radius: 2px;
 width: 100px;
 height: 30px;
 border: none;
 border: 2px solid( #4B321D);
}
