* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100dvh;
  background: white;
}
.follow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 90px 60px 0px 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.follow .img {
  width: 590px;
  height: 886px;
  border-radius: 16px;
}

.follow .img img {
  width: 100%;
}
.follow .info {
  flex-direction: column;
  display: flex;
  gap: 45px;
  text-align: start;
}
.follow .info p {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #4b321d;
}
.follow .info a button {
  padding: 0.4rem 0.7rem;
  border: solid 2px black;
  background: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  color: #4b321d;
}
.follow .info a button:hover {
  background: blue;
  border: none;
  color: #fff;
  transition: all 0.6s ease;
  cursor: pointer;
}


header {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  height: 41px;
  text-decoration: none;
}

header .logo img {
  height: 100%;
}

nav ul {
  margin-right: 280px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 36px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #4b321d;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #000;
}

.service{
width: 100%;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.perfect{
  display: grid;
  gap: 20px;
  width: 220px;
  color: #4B321D;
  font-size: 20px;
}
.perfect button{
 border-radius: 2px;
 width: 100px;
 height: 30px;
 border: 2px solid( #4B321D);
}

footer {
  width: 100%;
  padding: 100px 60px;
  display: flex;
  align-items: flex-start;
  align-content: start;
  justify-content: space-between;
}

.footer-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo a,
.footer-logo p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #4b321d;
  text-decoration: none;
}

.footer-logo img {
  margin-top: 83px;
  width: 50px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 170px;
}

.footer-container .footer-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.footer-container .footer-content ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #4b321d;
}

.footer-container .footer-content ul li a:hover {
  color: #000;
}

.box-one {

top: 11px;
left: 17px;

font-family: Poppins;
font-size: 60px;
/* font-weight: 400;
line-height: 100px; */

color: #4B321D;
padding-bottom: 136px;

}

.box-two  {
  width: 1400px;
height: 928px;

left: 20px;

border-radius: 16px 0px 0px 0px;

}
img {
  width: 1400px;
height: 928px;
margin-left: 20px;
}

.box-three {
  width: 1440px;
height: 300px;
top: 1566.36px;
padding: 0px 61px 0.36px 60px;
margin-left: 60px;  

font-family: Poppins;
font-size: 60px;
font-weight: 400;
line-height: 100px;
text-align: left;

color: #4B321D;

}

.hero button {
  width: 162px;
height: 50px;
top: 249.64px;
left: 60px;
border: 2px solid #4B321D;
color: #4B321D;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 28.8px;
text-align: center;
margin-left: 77px;
}
